body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 40px;
}
.welcome-text{
    padding: 0 60px ;
    
}
p{
color: gray;
text-align: justify;
margin-bottom: 30px;
}
.btn{
    text-decoration: none;
    padding: 10px 30px;
    background-image: linear-gradient(to right, red,orangered);
    color: white;
    font-weight: bold;
    border-radius: 2px;
}
.orange{
    color: orangered;
}
.width-half{
    width: 50%;
}
.flex{
    display: flex;
    justify-content: space-around;
}
.welcome-pic img{
    width: 80%;
    padding-top: 50px;

}
.bg{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.drm-bg{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
#bd-para{
    padding-right:60px;
}
.bg-ex{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
.box{
    width: 40%;
    padding:0 30px;
    text-align: justify;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-left: 10px solid;

}
#b-full{
    border-left-color: orangered;
}
